## Author: Igor Dzierwa
## Laboratory 4 - Implementation of a two-layer neural network using three different optimization methods: SGD, minibatch SGD, and GD for iris dataset.

This laboratory is almost the same as laboratory No. 3, except this time we will use **iris dataset** for training and testing the model and trying all three different optimization methods: 

- SGD
- minibatch SGD
- GD

The architecture of our neural network is as follows:

- Input layer
- One hidden layer
- Output layer (one-hot encoding)
- Relu activation function for the hidden layer
- Softmax activation for the output layer

We have a dataset of different types of iris flower. This is a famous dataset containing 3 classes of 50 instances each. You are asked to write a neural network code to classify a sample in the correct class. So we have a classification task. Here is the link to the dataset:

- https://archive.ics.uci.edu/ml/datasets/iris

### Libraries import

In [2]:
import numpy as np
import pandas as pd
import random
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

### Data import

In [6]:
data =  pd.read_csv("data/iris.data", sep=",")
data.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa